.container{
    position: relative;
    display: flex;
    transform: perspective(800px) translateZ(-200px);
    transition: 500ms;
    margin-left: -1.9vw;
    margin-right: -1.9vw;
    height: 28.1vw; min-width: 50.0vw;
}
.container:hover{
    transform: perspective(800px);
    z-index: 1;
    height: 39.1vw;
}
.card{
    align-self: center;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 30px aqua;
    z-index: 1;
    height: 28.1vw;
}
@media (min-width: 576px) {
    .container{ height: 19.7vw; min-width: 35.0vw;}
    .container:hover{ height: 25.3vw;}
    .card{ height: 19.7vw;}
}
@media (min-width: 768px) {
    .container{ height: 15.1vw; min-width: 26.8vw;}
    .container:hover{ height: 20.7vw;}
    .card{ height: 15.1vw;}
}
@media (min-width: 992px) {
    .container{ height: 12.3vw; min-width: 21.8vw;}
    .container:hover{ height: 16.5vw;}
    .card{ height: 12.3vw;}
}
.score{
    position: absolute;
    right: 10px;
    top: -2.4vh;
    height: 20px;
    background-color: aqua;
    padding: 5px;
    border-radius: 10px;
    opacity: .9;
}
.video{
    z-index: 2;
    border-radius: 10px;
}
.title{
    position: absolute;
    right: 10px;
    bottom: -2.4vh;
    width: 75%;
    vertical-align: bottom;
    background-color: aqua;
    padding: 5px;
    border-radius: 10px;
    opacity: .9;
}