.navBar{
    position: fixed;
    top: 0;
    left: 0;
    height: 4.8vh;
    width: 98vw;
    padding-left: 1vw;
    padding-right: 1vw;
    background-image: linear-gradient(black 10%,transparent);
    display: flex;
    align-items: center;
    justify-content: space-between;
}