.container{
    overflow: hidden;
    height: 23.2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    position: sticky;
    left: 20px;
    height: 10%;
    color: white;
}
.row{
    display: flex;
    flex-direction: row;
}
