body {
  margin: 0;
  background-image: url('./img/backgroundGradient.png');
  background-position-y: center;
  background-size: cover;
  animation: anim 5s linear infinite;
  color: white;
}
@keyframes anim{
  0%   {background-position-x: 100%;}
  100% {background-position-x:   0%;}
}
.navBar{
  position: fixed;
  top: 0;
  left: 0;
  height: 6vh;
  width: 98vw;
  padding-left: 1vw;
  padding-right: 1vw;
  background-image: linear-gradient(black 10%,transparent);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#root{
  padding-top: 6vh;
  background-image: url("./img/hexagon.svg");
  background-size: 100px 58px;
  min-height: 94vh;
}
